{% extends 'core/base.html' %}

{% block content %}
<style>
    .input-text {
        padding: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>

<h2>Добавить категорию</h2>
{% if error %}
    <p style="color: #b30000; font-weight: bold; font-size: 14px;">{{ error }}</p>
{% endif %}
<form method="post" action="{% url 'add_category' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next_url }}">
    <div class="form-group">
        <label>Имя категории:</label>
        <input type="text" name="category_name" class="input-text" required>
    </div>
    
    <p style="margin-top: 20px;">
        <button type="submit" class="button">Добавить</button>
        <a href="{% url 'index' %}" class="button">Назад</a>
    </p>
</form>
{% endblock %}
